.lw { font-size: 60px; }

.Überschrift_H1 {
   color: #000000;
   font-family: Open Sans;
   font-size: 70px;
   font-weight: 100;
   padding: 40px;
   text-decoration: none;
   text-align: left;
}

.Überschrift_H2 {
   color: #000000;
   font-family: Open Sans;
   font-size: 50px;
   font-weight: 100;
   padding: 40px;
   text-decoration: none;
   text-align: left;
}

.Überschrift_H1_Knopf {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #000000;
   font-family: Open Sans;
   font-size: 70px;
   font-weight: 100;
   padding: 40px;
   background-color: #FFFFFF;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: Left;
}

.Text_Cocktail_Info {
   color: #000000;
   font-family: Open Sans;
   font-size: 30px;
   font-weight: 100;
   padding: 40px;
   text-decoration: none;
   text-align: left;
}

.Bild_Haupt {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #000000;
   font-family: Open Sans;
   font-size: 30px;
   font-weight: 100;
   padding: 40px;
   background-color: #FFFFFF;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.Knopf {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
   position: absolute;
   padding:40px 10px;
   width: 100%;
   text-align: center;
}

.Knopf-Pumpen {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	padding:30px 60px;
}

.zeichenkette {
   list-style-type: "";
   color: #000000;
   font-family: Open Sans;
   font-size: 30px;
   font-weight: 100;
   padding: 40px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: left;
 }
 

.Text_Knopf {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #000000;
   font-family: Open Sans;
   font-size: 30px;
   font-weight: 100;
   padding: 40px;
   background-color: #FFFFFF;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: left;
}

